@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 引入字体 */
@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('../assets/fonts/AlibabaPuHuiTi2.0.woff2') format('woff2'),
       url('../assets/fonts/AlibabaPuHuiTi2.0.woff') format('woff');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body,html{
  height: 100%;
  font-size: 16px;
  font-family: 'AlibabaPuHuiTi', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(204, 204, 204);
  border-color: rgb(255, 255, 255);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(214, 214, 214);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(114, 114, 114);
}